@model Proyecto_Aula_W.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDSesion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDSesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Introduccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Introduccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstructurasL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstructurasL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colecciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colecciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordenacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordenacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Optimizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Optimizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColeccionesA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColeccionesA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptimizacionII)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptimizacionII)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColeccionesAII)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColeccionesAII)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iniciado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iniciado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resultados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resultados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RememberMe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RememberMe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
